.app.dark {
  --bg-color: #323232;
  --inverted-bg-color: #e5e5e5;

  --primary-color: #3030d2;
  --secondary-color: blue;
  --inverted-primary-color: #25d6f8;
  --inverted-secondary-color: #00ceff;
}